h1 {
  font-size: 50px;
}

.account-card {
  background-color: #131313;
  min-height: 280px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(63, 165, 53, 1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(63, 165, 53, 1);
  box-shadow: 0px 0px 10px 1px rgba(63, 165, 53, 1);
  transition: 0.2s ease-in;
}

.account-card:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(63, 165, 53, 1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(63, 165, 53, 1);
  box-shadow: 0px 0px 10px 5px rgba(63, 165, 53, 1);
}

.account-card img {
  max-width: 100px;
}

.my-account {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px 50px;
}
@media (min-width: 720px) {
  .my-account {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 20px;
    padding: 20px 0;
  }
}
@media (min-width: 1560px) {
  .my-account {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px 0;
  }
}
